In [53]:
import pandas as pd
import csv
import pymysql

In [54]:
#open database connection
import configparser
config = configparser.RawConfigParser()
config.read(filenames="my.properties")
print(config.sections())

['mysql']

In [55]:
h = config.get("mysql",'hos')
u = config.get("mysql", "user")
p = config.get("mysql", "password")
db = config.get("mysql", "db")
port = config.get("mysql", "port")

In [56]:
scrap_db = pymysql.connect(user=u,password=p, host=h, database=db)
cursor = scrap_db.cursor()

In [57]:
cursor.execute("DROP TABLE IF EXISTS WIKI")

0

In [59]:
mysql_insert= """INSERT INTO MAIN_COURSE(
    NAME,
    YEAR,
    COURSEID,
    CREDIT,
    DURATION,
    SCHEDULE,
    TOTAL_STUDENTS,
    NOTE
    ) VALUES(%s,%s,%s,%s,%s,%s,%s,%s)"""

In [60]:
mysql_insert

'INSERT INTO MAIN_COURSE(\n    NAME,\n    YEAR,\n    COURSEID,\n    CREDIT,\n    DURATION,\n    SCHEDULE,\n    TOTAL_STUDENTS,\n    NOTE\n    ) VALUES(%s,%s,%s,%s,%s,%s,%s,%s)'

In [64]:
coco = []
with open("CourseCatalogue.csv", "r", encoding="utf-8") as f:
    r = csv.reader(f)
    header = next(r)
    for row in r:
        if row != []:
            coco.append(row)

In [65]:
recordInsert = coco

In [66]:
cursor.executemany(mysql_insert, recordInsert)

TypeError: not all arguments converted during string formatting

In [50]:
import pandas as pd
data = pd.read_csv("CourseCatalogue.csv")
data.head()

,CoursePl,Category,Year,CourseID,CourseName,Credit,Duration,Professor,Schedule,CurrentStudents,TotalStudents,Note
0,조회,이중(부)전공,2,V41010101,고급파이썬프로그래밍,3,3,김아리,금 4 5 6 ( ),60,55,"비대면(학기 전체), 타학년은 수강신청 전체날에만 신청 가능, 타전공은 개강 이후 ..."
1,조회,이중(부)전공,2,V41010102,고급파이썬프로그래밍,3,3,김아리,금 1 2 3 ( ),52,55,"비대면(학기 전체), 타학년은 수강신청 전체날에만 신청 가능, 타전공은 개강 이후 ..."
2,조회,이중(부)전공,2,V41010103,고급파이썬프로그래밍,3,3,서성현,수 1 2 3 ( ),59,55,"비대면(학기 전체), 타학년은 수강신청 전체날에만 신청 가능, 타전공은 개강 이후 ..."
3,조회,이중(부)전공,2,V41002201,컴퓨터수학,3,3,허은주,월 1 2 3 ( ),52,50,"비대면(학기 전체), 타학년은 수강신청 전체날에만 신청 가능, 타전공은 개강 이후 ..."
4,조회,이중(부)전공,2,V41002202,컴퓨터수학,3,3,이민나,금 1 2 3 ( ),59,50,"비대면(학기 전체), 타학년은 수강신청 전체날에만 신청 가능, 타전공은 개강 이후 ..."